<section id="features">
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center max-w-2xl mx-auto lg:text-balance">
      <p class="text-sm leading-normal font-bold uppercase text-accent-600">
        Nền tảng tác nhân AI
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-semibold text-base-900 lg:text-balance">
        Tính năng
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        AI doanh nghiệp thúc đẩy sự phát triển của doanh nghiệp bạn, nền tảng tác nhân tùy chỉnh, mô hình LLM trên máy chủ nội bộ, công cụ không mã.
      </p>
    </div>

    <div
      class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl">
      <div class="grid justify-between w-full">
        <div
          class="absolute inset-0 left-0 z-10 from-white via-transparent w-44 bg-gradient-to-r">
        </div>
        <div
          class="absolute inset-0 left-0 z-10 ml-auto from-white via-transparent w-44 bg-gradient-to-l">
        </div>
      </div>
      <div class="relative flex items-center gap-2 whitespace-nowrap t">
        <span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Giao dịch Bảo mật
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Khả năng Bỏ phiếu Ủy quyền
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Thiết lập Tài khoản Nhanh chóng và Dễ dàng
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Gộp các Mục Giống nhau
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Tùy chọn Miền Tùy chỉnh
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Cho phép Khách mời Truy cập Thông tin Tài chính
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Công cụ Phân tích Văn bản Nâng cao
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Bảng Màu Thương hiệu Được Tùy chỉnh
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Định nghĩa Hình ảnh Hồ sơ Tài chính
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Chọn giữa Chế độ Tối và Chế độ Sáng cho Tài chính
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Cảnh báo Tài khoản Ưu tiên
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Thảo luận Tài chính Nội bộ
        </span>
      </div>
    </div>
    <dl
      class="grid grid-cols-2 text-center gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-y-16">
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
            <path d="M8 11a5 5 0 1 0 3.998 1.997"></path>
            <path d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path>
          </svg>
          <dt>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Hệ thống Đa tác nhân
            </h3>
          </dt>
        </div>
        <dd>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
           OriAgent sử dụng các mô hình LLM kết hợp với Tạo sinh Tăng cường Tìm kiếm để cung cấp nhiều tác nhân AI phục vụ cho các nhu cầu kinh doanh cụ thể.
          </p>
        </dd>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-wave-square size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 12h5v8h4v-16h4v8h5"></path>
          </svg>
          <dt>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Kết nối Nhiều Nguồn Dữ liệu
            </h3>
          </dt>
        </div>
        <dd>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Nó trích thông tin từ các tệp doanh nghiệp như DOCX, XLSX, HTML, cơ sở dữ liệu sản phẩm, nhật ký trò chuyện và các cơ sở kiến thức nội bộ.       </p>
        </dd>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-iteration size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5"></path>
            <path d="M3 16h18"></path>
            <path d="M18 13l3 3l-3 3"></path>
          </svg>
          <dt>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Tích hợp Hệ thống Liền mạch
            </h3>
          </dt>
        </div>
        <dd>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            OriAgent tích hợp với các hệ thống CRM như Zoho, HubSpot, v.v. và kết nối đến các nền tảng bên thứ ba như Facebook, WhatsApp, Telegram và trò chuyện trực tiếp trên website.
          </p>
        </dd>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg>
          <dt>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
             Nhắm mục tiêu Khán giả Thông minh
            </h3>
          </dt>
        </div>
        <dd>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Tính năng theo dõi và phân khúc tích hợp cho phép OriAgent tùy chỉnh phản hồi dựa trên hành vi của khách hàng, giai đoạn và dữ liệu nhân khẩu học.       </p>
        </dd>
      </div>
    </dl>
  </div>
</section>
